<a href="https://colab.research.google.com/github/PriyaP-9704/Codekata-Problems/blob/main/Array_codekata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

8. You are a passport issuer, but due to some problems in the system, there are redundant  passport numbers. Your task is to delete all the duplicate passport numbers. You are given a list of passport numbers.

Input Description:
You are given length of list.Second line,You are given with a list.

Output Description:
Print the list of passport numbers without duplicates.

In [7]:
import pandas as pd

n = int(input())
lst = list(input().split())

unique_list = pd.Series(lst).drop_duplicates().tolist()
#print(unique_list)
print(" ".join(unique_list))

5
A23 B56 B56 C79 D16
['A23', 'B56', 'C79', 'D16']
A23 B56 C79 D16

In [6]:
import numpy as np

n = int(input())
lst = list(input().split())

x = np.array(lst)
result = np.unique(x)
print(result)
print(" ".join(unique_list))

5
A23 B56 B56 C79 D16
['A23' 'B56' 'C79' 'D16']