<a href="https://colab.research.google.com/github/PriyaP-9704/Codekata-Problems/blob/main/Companies_codekata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Given a number N and an array of N strings,Print yes, if all strings have atleast one vowel in them otherwise print no.

In [1]:
n = int(input())
arr = list(input())[n:]
print(n,arr)

2
abc
2 ['c']

3.Given a number N followed by a list of N numbers. Write a program to reverse the list and print the list.

In [8]:
n = int(input())
arr = list(map(str, input().split()))
rev_arr = (arr[::-1])
str = "->".join(rev_arr)
print(str)

5
1 2 3 4 5
['5', '4', '3', '2', '1']
5->4->3->2->1

4. Given a sentence interchange the between the word 'and'.

In [10]:
list = [1,2,3,4]
print(len(list))

4

In [15]:
sen = input()
#print(sen, type(sen))
list_sen = sen.split()
#print(list_sen, type(list_sen))
length = len(list_sen)
key = "and"
for i in range (0,length,1):
    if key in list_sen[i]:
        a = list_sen[i-1]
        b = list_sen[i+1]
        list_sen[i-1] = b
        list_sen[i+1] = a

interchanged_sen = " ".join(list_sen)
print(interchanged_sen)

jack and jill went up and down to get wate
jack and jill went up and down to get wate <class 'str'>
['jack', 'and', 'jill', 'went', 'up', 'and', 'down', 'to', 'get', 'wate'] <class 'list'>
jill and jack went down and up to get wate

5. Given base(B) and height(H) of a triangle find its area.

In [16]:
base, height = map(int,input().split())

area = (base * height)/2

print(area)

2,4

ValueError: invalid literal for int() with base 10: '2,4'